.head {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

.h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    background-color: ;
}

.h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 18px 0;
}

.h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 16px 0;
}

.body {
    font-size: 16px;
    line-height: 1.5;
    margin: 12px 0;
}

